[submodule "server/boethius"]
	path = server/boethius
	url = https://github.com/srmullen/boethius.git
[submodule "server/boethius-lang"]
	path = server/boethius-lang
	url = https://github.com/srmullen/boethius-lang.git
